<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
			id="com.jcahalan.cordova.ios.disableshaketoundo"
			version="0.1.0">

	<name>iOS Disable Shake to Undo</name>
	<description>Disables iOS shake to undo feature in all input fields.</description>
	<license>Apache 2.0</license>
	<keywords>cordova,ios,input,gesture,shake,undo,shaketoedit</keywords>
	<repo>https://github.com/jaredcahalan/cordova-plugin-ios-disableshaketoedit.git</repo>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="DisableShakeToEdit">
				<param name="ios-package" value="DisableShakeToEdit"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>

		<header-file src="src/ios/DisableShakeToEdit.h" />
		<source-file src="src/ios/DisableShakeToEdit.m" />
	</platform>
</plugin>
